/* div{
    background-color: aqua;
     background-image: url(背景.jpg); 
    height: 400px;
    width: 400px;
    /* background-position: px 10px;  */
    background-repeat: no-repeat;
    text-align: center;
    line-height: 400px;
} */
a{
    text-decoration: none;
}
a:hover{
    color: gold;
}
#div1{
    height: 200px;
    width: 200px;
    background: darkgoldenrod;
    text-indent: 20px;
    
}
#txt{
    font-size: 50px;
    /* 字体大小 */
    font-family: 'Courier New', Courier, monospace;
    /* 字体*/
    font-weight: 800;
    /* 字体粗细 */
    font-style: italic;
}
ul{
    font-size: 50px;
    list-style: none;
    cursor: pointer;
}